<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574904937426-89a94e79012c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60); object-fit: cover;">
  <div class="container mb-5 text-center">
    <h1>Bike Match</h1>
    <p>Whatever your need is, find a bike that fits you!</p>
    <%= link_to "Find Match", bikes_path, class: "btn btn-lg btn-primary shadow" %>
  </div>
</div>
